@use 'styles/palette' as *;
@use 'styles/vars' as *;
@import 'styles/functions';

$button-border-width: calc-rem(2px);

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: calc-rem(10px);
  border-radius: calc-rem(6px);
  padding: calc(calc-rem(8px) - $button-border-width) calc($default-size - $button-border-width);
  font-size: calc-rem(14px);
  line-height: calc-rem(24px);
  font-weight: 500;
  background-color: $sow_white;
  color: $sow_grey_6;
  border: $button-border-width solid $sow_grey_6;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;

  &--icon {
    padding: calc-rem(8px);
  }

  &__icons {
    position: relative;
  }

  &__primary {
    border: none;
    padding: calc-rem(8px) $default-size;
    background-color: $sow_blue;
    color: $sow_white;

    &:hover {
      background-color: $sow_blue_dark;
    }
  }

  &List {
    display: flex;
    flex-wrap: wrap;

  }
}