@use '../../styles/palette' as *;
@use '../../styles/vars' as *;
@import '../../styles/functions';

.products {
  display: grid;
  gap: calc-rem(24px);
  grid-template-columns: repeat(auto-fit, minmax(calc-rem(250px), 1fr));
}

.productCard {
  display: flex;
  flex-direction: column;
  border: $border-width solid $border-color;
  margin: 0;
  height: 100%;
  border-radius: calc-rem(12px);
  background-color: $sow_white;

  &__image {
    max-width: calc(100% - calc-rem(65px));
    margin-top: $default-size - $border-width;
    margin-bottom: $default-size;
    background: #ccc;
    display: block;
    align-self: center;
  }

  &__info {
    display: flex;
    flex-direction: column;
    padding: $default-size;
    padding-top: $default-size - $border-width;
    height: 100%;
    color: $sow_grey_6;
    border-top: $border-width solid $border-color;
  }

  &__title {
    $title-lh: calc-rem(24px);
    $title-max-lines: 4;
    flex: 2;
    line-height: $title-lh;
    max-height: calc($title-lh * $title-max-lines);
    overflow: hidden;
    font-size: $default-size;
    font-weight: 500;
    margin: 0;
  }

  &__box {
    display: flex;
    align-self: flex-end;
    flex-wrap: wrap;
    align-items: flex-end;
    margin-top: $default-size;

  }

  &__text,
  &__price {
    margin: 0;
  }

  &__text {
    font-weight: 400;
    font-size: calc-rem(14px);
    line-height: calc-rem(20px);
    margin-right: $default-size;
    font-style: italic;
    position: relative;
    bottom: calc-rem(1px);
  }

  &__price {
    font-weight: 700;
    font-size: calc-rem(24px);
    line-height: calc-rem(30px);
  }

  &__buttons {
    justify-content: flex-end;
    margin-top: calc-rem(24px);
    gap: $default-size
  }
}