@import './functions';

$icons: (
  'favorite-border': "favorite-border",
  'favorite-fill': "favorite-fill",
  'favorite': "favorite-fill",
  'cart': 'cart',
  'search': 'search',
  'sowingo-icon': 'sowingo-icon'
);

@mixin addIcon($iconName) {
  &__#{$iconName} {
    background-image: get-icon($iconName);
  }
}

.fu {
  display: block;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom center, 50%, 50%;
  min-height: calc-rem(20px);
  min-width: calc-rem(20px);

  @include addIcon("cart");
  @include addIcon("search");
  @include addIcon("search");
  @include addIcon("sowingo-icon");

  &__favorite {

    &,
    &--off {
      background-image: get-icon("favorite-fill");
    }

    &--on {
      background-image: get-icon("favorite-border");
    }
  }
}