@import './functions';

$icons: (
  'favorite-border': "favorite-border",
  'favorite-fill': "favorite-fill",
  'cart': 'cart',
  'search': 'search'
);

.fu {
  display: block;
  height: calc-rem(20px);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom center, 50%, 50%;
  width: calc-rem(20px);

  &__favorite {
    background-image: get-icon("favorite-fill");

    &--on {
      background-image: get-icon("favorite-border");
    }

    &--off {
      background-image: get-icon("favorite-fill");
    }
  }

  &__cart {
    background-image: get-icon("cart");
  }

  &__search {
    background-image: get-icon("search");
  }
}