$sow_white: #FFFFFF;
$sow_blue: #398DE3;
$sow_green: #33BE8C;
$sow_charcoal: #4D586A;
$sow_orange: #FA9E4D;
$sow_dark_orange: #FF6104;
$sow_pink: #FF2566;
$sow_red: #DE4745;
$sow_red_cart: #FF5252;
$sow_teal: #33BBC4;
$sow_purple: #8E5CD5;
$sow_blue_dark: #376DE4;
$sow_black: #192D38;
$sow_grey_1: #828282;
$sow_grey_2: #ABB9C4;
$sow_grey_3: #DCDCDF;
$sow_grey_4: #F5F5F9;
$sow_grey_5: #FCFCFF;
$sow_grey_6: #4E6374;
$sow_grey_7: #F9FAFB;
$sow_grey_8: #C4C4C4;
$sow_grey_9: #CAD2D8;

$border-color: $sow_grey_9;