@use 'styles/palette' as *;
@import 'styles/functions';

.header {
  @include layout-offest(27px, 25px);
  background-color: $sow_white;
  border-bottom: calc-rem(1px) solid $border-color;

  &__logo {
    display: block;
  }
}