@use '../../../styles/palette' as *;
@use '../../../styles/vars' as *;
@import '../../../styles/functions';

.navbar {
  @include layout-offest();
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: $sow_white;
  outline: calc-rem(1px) solid $border-color;
  margin: 0;

  &__links {
    flex: 1;
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
  }

  &__item {
    outline: calc-rem(1px) solid $border-color;
    width: 100%;

    & .button {
      border: none;
      border-radius: 0;
      padding: $default-size calc-rem(26px);
      font-weight: 500;
      font-size: $default-size;
      line-height: calc-rem(24px);
      width: 100%;
    }

    &--active {
      outline-offset: calc-rem(-2px);
      outline-width: calc-rem(2px);
      margin-right: calc-rem(1px);
      outline-color: $sow_grey_6;
    }
  }

  & .searchbar {
    outline: calc-rem(1px) solid $border-color;
    margin: 0 calc-rem(1px);
    gap: calc-rem(3px);
    flex: 4;

    &__input {
      width: calc(100% - calc-rem(2px));
      border: none;
    }
  }

  @media (max-width: 768px) {
    & .searchbar {
      border: calc-rem(1px) solid $border-color;
      outline: none;
      flex: none;
      width: calc(100% + 2px);
      margin: 0;
      margin-top: -1px;
    }
  }
}