@use '../../../styles/palette' as *;
@use '../../../styles/vars' as *;
@import '../../../styles/functions';


.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 0 calc(10% + calc-rem(5px));
  background-color: $sow_white;
  outline: calc-rem(1px) solid $border-color;

  &__links {
    flex: 1;
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
  }

  &__item {
    outline: calc-rem(1px) solid $border-color;
    width: 100%;

    & .button {
      border: none;
      border-radius: 0;
      padding: $default-size calc-rem(26px);
      font-weight: 500;
      font-size: $default-size;
      line-height: calc-rem(24px);
    }
  }

  & .searchbar {
    outline: calc-rem(1px) solid $border-color;
    margin-left: 2px;
    gap: 3px;
    flex: 4;

    &__input {
      width: calc(100% - 2px);
      border: none;
    }
  }

  @media (max-width: 768px) {
    & {

      & .searchbar {
        border: calc-rem(1px) solid $border-color;
        outline: none;
        flex: none;
        width: calc(100% + 2px);
        margin-left: 0;
        margin-top: -1px;
      }
    }
  }
}

.searchbar {
  display: flex;

  &__input {
    padding: $default-size 8px;
    height: 100%;
    font-weight: 500;
    font-size: $default-size;
    line-height: 24px;
    background-color: $sow_white;
    color: $sow_grey_6;


    &::placeholder {
      color: #ABB9C4;
      opacity: 1;
    }
  }

  &__icon {
    align-self: center;
    margin-left: 18px;
  }
}


input {
  outline: 0;
  border: calc-rem(1px) solid $border-color;
}