@use '../../../styles/palette' as *;
@import '../../../styles/functions';

$offset: calc-rem(-1px);

.navbar {
  display: flex;
  flex-wrap: wrap;
  margin-top: $offset;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 calc(10% + calc-rem(5px));
  background-color: $sow_white;
  border: calc-rem(1px) solid $border-color;
  border-bottom: none;

  &__links {
    flex: 1;
    margin: 0;
    margin-top: $offset;
    margin-left: $offset;
    padding: 0;
    display: flex;
    list-style: none;
  }

  &__item {
    flex: 1;
    border: calc-rem(1px) solid $border-color;

    &:nth-child(1) {
      border-right: none;
    }

    & .button {
      border: none;
      height: 100%;
      padding: calc-rem(16px) calc-rem(25px);
      font-weight: 500;
      font-size: calc-rem(16px);
      line-height: calc-rem(24px);
    }
  }

  & .searchbar {
    margin-top: $offset;
    flex: 4;

    &__input {
      border-width: 0 1px;
      border-color: $border-color;
      border-style: solid;
    }
  }

  @media (max-width: 768px) {
    & {

      & .searchbar,
      &__links,
      &__item {
        width: 100%;
      }

      &__links,
      & .searchbar {
        margin: 0;
      }

      & .searchbar {
        border-width: 0 1px;
        border-color: $border-color;
        border-style: solid;
        flex: none;
      }
    }
  }
}

.searchbar {
  position: relative;

  &__input {
    padding: 18px 16px;
    padding-left: 48px;
    height: 100%;
    width: 100%;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    background-color: $sow_white;
    color: $sow_grey_6;


    &::placeholder {
      color: #ABB9C4;
      opacity: 1;
    }
  }

  &__icon {
    position: absolute;
    top: calc(30% + 2px);
    left: 19px;
  }
}


input {
  outline: 0;
}