@use './styles/_normalize';
@use './styles/_icons';
@use './styles/_utils';
@import './styles/fonts';
@import './styles/vars';
@import './styles/palette';


html,
body,
.main {
  font-family: 'Roboto', sans-serif;
  font-size: $base-font-size;
  background-color: $sow_grey_7;
}

header {
  margin-top: 99px;
}